@model Catalogue.Models.Velo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Velo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescriptionDetaillee)
        </dd>
        <dt class="col-sm-2">
            Marque
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marque)
        </dd>
        <dt class="col-sm-2">
            Taille / Format
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Taille)
        </dd>
        <dt class="col-sm-2">
            Catégorie
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categorie)
        </dd>
        <dt class="col-sm-2">
            Quantité
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuantiteEnInventaire)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
